.loginContainer {
  width: 300px;
  height: 200px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  position: absolute;
  inset: 0;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  color: slateblue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.login-button {
  border: none;
  padding: 5px;
  border-radius: 5px;
  background-color: teal;
  color: #fff;
  cursor: pointer;
}

.success {
  color: green;
  font-size: 12px;
  text-align: center;
}

.failure {
  color: red;
  font-size: 12px;
  text-align: center;
}

.cancelRegister {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
